* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
span {
	cursor: auto;
}
a {
	cursor: pointer;
}
button {
	cursor: pointer;
}

body {
	font-family: Inter;
}
.container {
	width: 1250px;
	margin: 0px auto;
}

header {
	margin-top: 25px;
}

.head {
	display: flex;
	gap: 40px;
	align-items: center;
}
.left {
	display: flex;
	align-items: center;
	gap: 37px;
}

.middle {
	display: flex;
	align-items: center;
}

form {
	display: flex;
	margin-left: -30px;
}

#search {
	width: 400px;
	height: 40px;
	padding: 10px;
	font-size: 15px;
	border: 1px solid grey;
	border-radius: 5px;
	border-right: none;
	border-top-right-radius: 0%;
	border-bottom-right-radius: 0%;
}
.catalog {
	background-color: #e5e5ff;
	border-radius: 4px;
	height: 40px;
	color: #7f4dff;
	width: 120px;
	border: none;
	font-size: 15px;
	font-weight: 450;
	font-family: inherit;
}

.catalog:hover {
	transform: scale(1.03);
	transition: background-color 0.3s ease;
}

.catalog_close {
	background-color: #e5e5ff;
	border-radius: 4px;
	height: 40px;
	color: #7f4dff;
	width: 120px;
	border: none;
	font-size: 15px;
	font-weight: 450;
	display: none;
	font-family: inherit;
}

.catalog_close:hover {
	transform: scale(1.03);
	transition: background-color 0.3s ease;
}

#search_ico {
	width: 70px;
	height: 40px;
	background-color: #e5e5ff;
	border: 1px solid grey;
	border-radius: 5px;
	border-left: none;
	border-top-left-radius: 0%;
	border-bottom-left-radius: 0%;
	text-align: center;
	padding-top: 5px;
}

.user_box {
	padding: 5px;
	/* background-color: #dbdbdb; */
	border-radius: 5px;
}

.user_box:hover {
	background-color: #dbdbdb;
	border-radius: 5px;
	padding: 5px;
	transition: background-color 0.3s ease;
}

.save_box {
	padding: 5px;
	/* background-color: #dbdbdb; */
	border-radius: 5px;
}

.save_box:hover {
	background-color: #dbdbdb;
	border-radius: 5px;
	padding: 5px;
	transition: background-color 0.3s ease;
}

.bin_box {
	padding: 5px;
	/* background-color: #dbdbdb; */
	border-radius: 5px;
}

.bin_box:hover {
	background-color: #dbdbdb;
	border-radius: 5px;
	padding: 5px;
	transition: background-color 0.3s ease;
}
.right {
	display: flex;
	align-items: center;
	gap: 27px;
}

.right div {
	display: flex;
	align-items: center;
	gap: 5px;
}

.swiper {
	width: 100%;
	/* height: 350px; */
	margin-top: 50px;
}

/* .swiper-slide img{
	width: 90%;
	margin: 0 5%;
	height: 350px;
} */

#swiper-slide_one {
	background-image: url('https://images.uzum.uz/crl79s9bjcvd8a777pe0/main_page_banner.jpg');
	border-radius: 25px;
	height: 474px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#swiper-slide_two {
	background-image: url('https://images.uzum.uz/crn7p1ijot51rkb29nj0/main_page_banner.jpg');
	border-radius: 25px;
	height: 474px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#swiper-slide_three {
	background-image: url('https://images.uzum.uz/crq0vsevip07shn65p5g/main_page_banner.jpg');
	border-radius: 25px;
	height: 474px;

	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.popular {
	margin-top: 50px;
}

.box_thing {
	margin-top: 30px;

	display: grid;
	grid-template-columns: repeat(5, 1fr);

	gap: 30px;
}

.box_thing2 {
	margin-top: 70px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
}

.shop_thing {
	width: 230px;
	height: 390px;
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	margin-top: 10px;
}

.img_thing {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3637401a;
	margin-bottom: 10px;
	border-radius: 12px;
}
.div_for_img img {
	max-width: 240px;
	transition: transform 0.3s ease-in-out;
}

.photo {
	height: 270px;
}
/* .div_for_img img:hover {
	transform: scale(1.01);
} */

.text_thing {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.name_thing {
	font-size: 14px;
	color: #000000;
}

.rassrochka_thing {
	font-size: 14px;
	background-color: yellow;
	color: black;
	width: 110px;
	padding: 2px;
}

.price_fake {
	margin-top: 12px;
	font-size: 12px;
	color: #acacac;
	text-decoration: line-through;
}

.really_price {
	font-size: 15px;
	color: #000000;
}
.one_line {
	display: flex;
	align-items: center;
	gap: 140px;
}

.like {
	position: relative;
	top: -110px;
	left: 210px;
	display: block;
}

.like_click {
	position: relative;
	top: -110px;
	left: 210px;
	display: none;
}

#plus_twenty {
	width: 500px;
	height: 50px;
	margin-top: 50px;
	position: relative;
	left: 30%;
	background-color: #3637401a;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	
}

#close_twenty {
	width: 500px;
	height: 50px;
	margin-top: 25px;
	position: relative;
	left: 30%;
	background-color: #3637401a;
	border: none;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	display: none;
}

.banner_img {
	margin-top: 50px;
}
.banner {
	width: 100%;
	border-radius: 12px;
	transition: transform 0.3s ease-in-out;
}

.banner:hover {
	transform: scale(1.05);
}

.sale_thing {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 25px;
}

.good_thing {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
}

.end_bio {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.end_bio a {
	font-size: 12px;
	color: #8b8e99;
	text-decoration: none;
}

.end_bio span {
	font-size: 14px;
	font-weight: 500;
}

.about_us {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.user {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.for_person {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.apps {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.apps_save {
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 20px;
}

.social {
	display: flex;
	gap: 15px;
	margin-bottom: 60px;
}

.litenziya {
	border-top: 0.8px solid #8b8e99;
	padding-top: 15px;
	margin-bottom: 150px;
}

.litenziya a {
	font-size: 14px;
	color: black;
	font-weight: 500;
	text-decoration: none;
	padding-right: 15px;
}

.litenziya span {
	font-size: 12px;
	color: #8b8e99;
	padding-left: 370px;
}

.my_dream {
	margin-top: 30px;
	font-size: 1.5rem;
	font-weight: 500;
	color: #1f2026;
	padding-bottom: 15px;
	border-bottom: 0.5px solid #1f2026;
}

.product_img {
	width: 351px;
	height: 409px;
	border-radius: 10px;
	background-color: #3637401a;
}

.name-product {
	margin-bottom: 20px;
	font-size: 32px;
}

.star-rating {
	width: 75px;
	height: 15px;
	background: url('/start.svg') repeat-x;
	background-size: contain;
	position: relative;
	margin-bottom: 20px;
	/* background-size: 30px 30px; */
}

.stars {
	height: 100%;
	/* background: url('/start.svg') repeat-x;  */
	background-size: contain;
	width: 0; /* Изначально без ширины */
	position: absolute;
	top: 0;
	left: 0;
	/* background-size: 30px 30px; */
}

.people_band {
	font-size: 22px;
	font-weight: 600;
}
.over_product {
	display: flex;
	align-items: center;
	gap: 10px;
	/* margin-top: 10px; */
}

.star-rating {
	margin-top: 15px;
}

.lenght_comment {
	color: #8b8e99;
}

.comment {
	width: 395px;
	/* height: 150px; */
	border-radius: 20px;
	border: 1px solid #36374033;
	padding: 20px;
}

.bio_comment {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.comment_all {
	margin-top: 20px;
}

.name_user {
	font-size: 14px;
	font-weight: 600;
}

.email_user {
	font-size: 13px;
}
.data {
	font-size: 12px;
	font-weight: 400;
	color: #7e818c;
}

.product-comment {
	display: grid;
	gap: 12px;
	grid-template-columns: repeat(2, 0.1fr);
}

.product_div {
	display: flex;
	margin-top: 50px;
	justify-content: space-between;
	align-items: start;
}

.price_bio {
	min-width: 385px;
	padding: 24px 20px;
	border: 1px solid #36374033;
	border-radius: 20px;
}

.price {
	font-size: 28px;
	font-weight: 700;
}

.sale_price {
	margin-left: 10px;
	font-size: 16px;
	color: #7e818c;
	text-decoration-line: line-through;
}

.rassrochka {
	background: #f0f2f5;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	padding: 12px 8px 12px 12px;
	width: 100%;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	text-align: start;
}

.in_rassroshka {
	font-size: 13px;
	color: #7e818c;
}

.buy_onclick {
	width: 283px;
	height: 48px;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	padding: 12px 8px 12px 12px;
	border: none;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 500;
}

.save_two {
	width: 48px;
	height: 48px;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	padding: 12px 8px 12px 12px;
	border: none;
}

.save_two_active {
	width: 48px;
	height: 48px;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	padding: 12px 8px 12px 12px;
	border: none;
	display: none;
}

.add_basket {
	width: 100%;
	height: 48px;
	border-radius: 12px;
	cursor: pointer;
	display: block;
	padding: 12px 8px 12px 12px;
	border: none;
	background-color: #7000ff;
	font-size: 16px;
	color: white;
	font-weight: 500;
}

.basket {
	width: 28px;
	height: 28px;
	margin-left: 85%;
	margin-top: -30px;
}

.rassrochka_span {
	background-color: yellow;
	padding: 4px;
	border-radius: 10px;
	font-weight: bold;
	font-size: 13px;
	font-family: inherit;
}

.see_comments {
	margin-top: 30px;
	height: 56px;
	width: 92%;
	padding: 0 18px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 12px;
	color: #1f2026;
	border: none;
	background-color: #e6e8ed;
	display: block;
}

.not_see_comments {
	margin-top: 30px;
	height: 56px;
	width: 92%;
	padding: 0 18px;
	text-align: center;
	font-size: 16px;
	font-weight: 600;
	border-radius: 12px;
	color: #1f2026;
	border: none;
	background-color: #e6e8ed;
	display: none;
}

.info_product {
	font-size: 16px;
	color: #1f2026;
	margin-bottom: 70px;
	display: flex;
}

.slider {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;

	justify-content: center;
}

.slides {
	display: flex;
	/* overflow: hidden; */
	width: 110%;
	height: 400px;
}

.slides img {
	width: 100%;
	transition: transform 0.5s ease-in-out;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.thumbnails {
	display: flex;
	gap: 5px;
	margin-top: 10px;
}

.thumbnails img {
	width: 50px;
	height: 50px;
	cursor: pointer;
	display: flex;
	justify-content: center;
}

.product_type {
	margin-top: 30px;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 30px;
}

.img-1 {
	background-color: #3637401a;
	margin-left: 20px;
	border-radius: 12px;
}

.img-2 {
	background-color: #3637401a;
	border-radius: 12px;
	margin-left: 20px;
}

.min-img-1 {
	background-color: #3637401a;
	border-radius: 5px;
}

.min-img-2 {
	background-color: #3637401a;
	border-radius: 5px;
}
.min-img-3 {
	background-color: #3637401a;
	border-radius: 5px;
}

.sign_css {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 300px;
}

.sign_css input {
	height: 42px;
	border: none;
	background-color: #3637401a;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	font-size: 15px;
}

.h1_signin {
	margin-top: 120px;
	margin-bottom: 20px;
}

.btn-signin {
	height: 40px;
	border: none;
	background-color: #7000ff;
	font-size: 15px;
	color: white;
	border-radius: 12px;
}

.signup_css {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 300px;
}

.signup_css input {
	height: 42px;
	border: none;
	background-color: #3637401a;
	border-radius: 10px;
	padding: 10px 20px;
	text-align: center;
	font-size: 15px;
}

.h1_signup {
	margin-top: 120px;
	margin-bottom: 20px;
}

.btn-signup {
	height: 40px;
	border: none;
	background-color: #7000ff;
	font-size: 15px;
	color: white;
	border-radius: 12px;
}
.nothing {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 120px;
	margin-bottom: 200px;
}

.nothing_text {
	font-size: 32px;
	font-weight: 600;
	margin-bottom: 5px;
}

.nothing_text2 {
	font-size: 14px;
	font-weight: 500;
}

.dialog_search {
	width: 200px;
	height: 20px;
}

dialog {
	width: 100%;
	height: 400px;
	z-index: 1000; /* Высокий z-index, чтобы быть над другими элементами */
	background: white;
	border: none;
}
.backdrop {
	position: fixed;
	top: 50%;
	left: 0;
	width: 100%;
	height: 50%;
	background: rgba(0, 0, 0, 0.3); /* Полупрозрачное затемнение */
	backdrop-filter: blur(10px); /* Размытие фона */
	z-index: 999; /* На один уровень ниже диалога */
	display: none; /* Скрыто по умолчанию */
}

dialog[open] + .backdrop {
	display: block;
}

.category_two {
	margin-top: 40px;
	display: flex;
	/* justify-content: ; */
	flex-direction: column;
	align-items: center;
	margin-left: -630px;
}

.category_two span {
	font-size: 12px;
	font-weight: 500;
	color: #acacac;
}

.category_span {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	/* gap: -20px; */
	margin-left: 40px;
}

.category_span span {
	font-size: 32px;
	color: #000000;
	font-weight: 600;
	transition: transform 0.3s ease-in-out;
}

.category_span span:hover {
	transform: scale(1.1);
	color: #7000ff;
	cursor: pointer;
}

.icon {
	list-style-type: none;
}

.info_pay {
	min-width: 385px;
	padding: 24px 20px;
	border: 1px solid #36374033;
	border-radius: 20px;
	margin-top: 20px;
}

.delivery {
	border-bottom: 1px solid #36374033;
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
}

.security {
	margin-top: 10px;
	border-bottom: 1px solid #36374033;
	display: flex;
	flex-direction: column;
}

.icons {
	display: flex;
	margin-top: 10px;
	margin-bottom: 10px;
	gap: 5px;
}

.retake {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.box_korzina {
	margin-top: 50px;
}

.products_choose {
	margin-top: 20px;
	display: flex;
	gap: 20px;
}

.product1 {
	width: 868px;
	border: 1px solid #36374033;
	padding: 16px;
}

.product2 {
	width: 362px;
	height: 262px;
	border: 1px solid #36374033;
	padding: 20px;
	border-radius: 12px;
}

.box_korzina h1 {
	font-size: 24px;
	color: #1f2026;
}

.lenght_product {
	font-size: 24px;
	color: #7e818c;
}

.first_product {
	display: flex;
	justify-content: space-between;
	/* border-bottom: 1px solid #36374033; */
	padding-bottom: 15px;
	padding-left: 3px;
}
.Select {
	display: flex;
	gap: 10px;
	align-items: center;
}
.Selectall {
	width: 18px;
	height: 18px;
	background: #7f4dff;
}

.Selectspan {
	font-size: 0.875rem;
}

.data_dalevery {
	font-size: 0.75rem;
	color: #7e818c;
}
.data_dalevery2 {
	font-size: 0.75rem;
	color: #7000ff;
	border: 1px solid #7000ff;
	padding: 3px;
}

.product_price {
	margin-top: 25px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #7e818c;
	
}

.delivery_day {
	width: 100%;
	margin-top: 15px;
	display: flex;
	padding: 2px 6px;
	justify-content: center;
	border: 1px solid #7000ff;
	color: #7f4dff;
	font-size: .75rem;

}

.overall_price {
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn_zakaz {
	margin-top: 25px;
	width: 100%;
	height: 44px;
	border-radius: 12px;
	padding: 0 14px;
	text-align: center;
	color: white;
	background-color: #7000ff;
	border: none;
	font-size: 16px;
	font-weight: 500;
	
}

.btn_zakaz:hover {
	background-color: #7f4dff;
}

.counter {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    justify-content: space-between;
}

.btn {
    background-color: #f0f0f0;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}

/* #counterValue {
    font-size: 16px;
} */

.info_inproduct {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	border-top: 1px solid #36374033;
	padding: 20px;
}
.info_product2 {
	margin-top: 20px;
	display: flex;
	gap: 30px;
	align-items: center;
	padding-bottom: 20px;
	justify-content: space-between;

}

.inbaza {
	font-size: 12px;
	color: #7e818c;
}

.dalevery_inproduct {
	font-size: 18px;
	font-weight: 600;
	color: #1f2026;
}

.bio_inproduct {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 520px;
}

.bio_inproduct2 {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title_inproduct {
	font-size: 15px;
}

.salary {
	font-size: 14px;
}

.remove_product {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.price_inproduct {
	font-size: 20px;
	text-align: center;
}

.sale_inproduct {
	font-size: 14px;
	text-align: end;
	text-decoration: line-through;
	color: #7e818c;
}

.delete {
	background-color: white;
	border: none;
	color: #7e818c;
	display: flex;
	align-items: center;
	justify-content: end;
	gap: 5px;
}
.img_korzina {
	width: 120px;
	height: 120px;
}

.btn_page {
	margin-top: 20px;
	height: 38px;
	background-color:#7000ff;
	color: white;
	border: none;
	border-radius: 4px;
	font-size: .875rem;
	width: 100px;
	font-weight: 500;
} 

.btn_page:hover {
	background-color: #7f4dff;
}

#counterValue {
	width: 10px;
	border: none
}

